html 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before 
{
    box-sizing: inherit;
}

a
{
    color: inherit;
    text-decoration: none;
}

button 
{
    padding: 0;
    border: none;
    background-color: transparent;
    /* text-transform: uppercase; */
    cursor: pointer;
}

ul,
ol
{
    list-style-type: none;
}

body 
{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400; 
    font-size: 18px;
    line-height: 1.6;
    /* color: var(--colors-Neutral-100); */
}

@font-face {
    font-family: "Plus Jakarta Sans", sans-serif;
    src: url("../fonts/PlusJakartaSans-Regular.ttf") format("ttf");
    src: url("../fonts/PlusJakartaSans-Medium.ttf") format("ttf");
    src: url("../fonts/PlusJakartaSans-Bold.ttf") format("ttf");
}

:root 
{
    --colors-Primary-Accent: #5D4FFF;
    --colors-Secondary-100: #F2F1FE;
    --colors-Neutral-100: #FFFFFF;
    --colors-Neutral-200: #FAF9FC;
    --colors-Neutral-300: #EFEEF6;
    --colors-Neutral-400: #D9D8E5;
    --colors-Neutral-500: #9693B8;
    --colors-Neutral-600: #625D7E;
    --colors-Neutral-700: #1E1B42;
    --colors-Neutral-800: #181443;
    --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container
{
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

/* =============================== Header ============================= */
.nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 25px 0;
}
.nav-link
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nav-logo
{
    width: 42px;
}
.nav-text
{
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: var(--colors-Neutral-800);
}
.header-list
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
}
.header-item
{
    font-size: 16px;
    color: var(--colors-Neutral-800);
}
.header_link
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.header-address_list
{
    font-size: 14px;
    line-height: 1.2;
    color: var(--colors-Neutral-800);
    border-radius: 12px;
    border: 1px solid var(--colors-Neutral-300);
    padding: 18px 24px;
    width: 185px;
    height: 55px;
}
.header-address_link
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.header-address_link img 
{
    width: 19px;
}
.header-btn
{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 12px;
    padding: 20px 24px;
    color: var(--colors-Neutral-100);
    background-color: var(--colors-Primary-Accent)
}
.header-link:active,
.header_link:active
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    color: var(--colors-Primary-Accent);
    background-color: var(--colors-Secondary-100);
    border-radius: 8px;
    padding: 10px 13px;
}
/* ========================== Section Clinic ================================ */

.clinil-block
{
    display: flex;
    gap: 81px;
    position: relative;
}
.clinic-box
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.clinic-title
{
    font-weight: 700;
    font-size: 58px;
    line-height: 1.0;
    color: var(--colors-Neutral-800);
    width: 480px;
    margin-bottom: 40px;
}
.clinic-title span
{
    color: var(--colors-Primary-Accent);
}
.clinil-text
{
    width: 100%;
    margin-bottom: 44px;
    color: var(--colors-Neutral-600);
}
.clinic-buttons
{
    display: flex;
    gap: 0 24px;
}
.clinic-btn 
{
    font-weight: 700;
    line-height: 1.1;
    padding: 24px 32px;
    border-radius: 12px;
    text-align: center;
    width: 251px;
    height: 68px;
    color: var(--colors-Neutral-100);
    background-color: var(--colors-Primary-Accent);
}
.clinic_btn
{
    line-height: 1.1;
    padding: 24px 32px;
    border-radius: 12px;
    text-align: center;
    width: 201px;
    height: 68px;
    border: 1px solid var(--colors-Neutral-300);
    color: var(--colors-Primary-Accent);
}

/* ===================================== Block Services ================================= */
.block-services
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 52px 47px 52px;
    border-radius: 28px;
    border: 1px solid var(--colors-Neutral-100);
    background-color: var(--colors-Neutral-100);
    position: relative;
    content: '';
    right: -70px;
    bottom: 140px;
    width: 1220px;
    height: 226px;
}
.block-services:nth-child(even)::after
{
    content: '';
    position: absolute;
    left: 380px;
    width: 1px;
    height: 147px;
    border: 1px solid var(--colors-Neutral-400);
}
.block-services:nth-child(even)::before
{
    content: '';
    position: absolute;
    right: 370px;
    width: 1px;
    height: 147px;
    border: 1px solid var(--colors-Neutral-400);
}
.box-contant_img
{
    width: 62px;
    padding: 18px 14px;
    border-radius: 20px;
    background-color: var(--colors-Primary-Accent);
}
.box-open-hours_img
{
    width: 62px;
    padding: 12px;
    border-radius: 20px;
    background-color: var(--colors-Primary-Accent);
}
.box-contant-services_img
{
    width: 62px;
    padding: 13px 17px;
    border-radius: 20px;
    background-color: var(--colors-Primary-Accent);
}
.box-contact,
.box-contact-open-hours,
.box-contact-services
{
    display: flex;
    align-items: flex-start;
    gap: 0 16px;
}
.box-contact_text,
.box-open-hours_text,
.box-contact-services_text
{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: var(--colors-Neutral-800);
    width: 155px;
    margin-bottom: 9px;
}
.box-contact_link
{
    font-size: 16px;
    color: var(--colors-Neutral-600);
}
.box-contact__link
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    color: var(--colors-Primary-Accent);
    border-bottom: 2px solid var(--colors-Primary-Accent);
}
.box-open-hours_link span
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    color: var(--colors-Primary-Accent);
}
.box-open-hours_link
{
    font-size: 16px;
    color: var(--colors-Neutral-600);
}
.box-contact-services_link
{
    font-size: 16px;
    color: var(--colors-Neutral-600);
    margin-bottom: 6px;
}
/* ================================ Our Services ========================== */
.our-team_block-link
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid var(--colors-Neutral-300);
    color: var(--colors-Primary-Accent);
}
.our-team_dental
{
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    gap: 0 380px;
    margin-top: 20px;
}
.our-team_dental-title
{
    font-weight: 700;
    font-size: 38px;
    line-height: 1.2;
    width: 660px;
    color: var(--colors-Neutral-800);
}
.our-team_dental-btn
{
    font-weight: 700;
    line-height: 1.1;
    border-radius: 12px;
    padding: 24px 32px;
    width: 251px;
    height: 68px;
    color: var(--colors-Neutral-100);
    background-color: var(--colors-Primary-Accent);
}
.our-team_box
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 25px;
}
.our-team_box-cosmetic,
.our-team_box-orthodontics,
.our-team_box-hygiene
{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 32px;
    width: 390px;
    height: 464px;
    border: 1px solid var(--colors-Neutral-300);
}
.box-cosmetic_img
{
    padding: 44px 120px;
    border-radius: 32px 32px 0 0;
    background-color: var(--colors-Secondary-100);
}
.box-orthodontics_img
{
    padding: 66px 140px;
    border-radius: 32px 32px 0 0;
    background-color: var(--colors-Secondary-100);
}
.box-hygiene_img
{
    padding: 45px 127px 56px 144px;
    border-radius: 32px 32px 0 0;
    background-color: var(--colors-Secondary-100);
}
.box-cosmetic,
.box-orthodontics,
.box-hygiene
{
    display: flex;
    flex-direction: column;
    padding: 32px 32px 44px 32px;
}
.box-cosmetic_title,
.box-orthodontics_title,
.box-hygiene_title
{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: var(--colors-Neutral-800);
    margin-bottom: 6px;
}
.box-cosmetic_text,
.box-orthodontics_text,
.box-hygiene_text
{
    color: var(--colors-Neutral-600);
    margin-bottom: 30px;
}
.box-cosmetic_link,
.box-orthodontics_link,
.box-hygiene_link
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    color: var(--colors-Primary-Accent);
    text-decoration: underline;
}
/* ================================== About Us ============================== */
.inner-block
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 109px;
}
.block-img
{
    display: flex;
    position: relative;
    margin-right: 230px;
}

.block-img_1
{
    z-index: 1;
    border-radius: 40px;
}
.block-img_2
{
    content: '';
    position: absolute;
    z-index: 2;
    top: 338px;
    left: 75px;
    border-radius: 40px;
}
.block-mission
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 135px;
}
.mission_link
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    padding: 12px 14px;
    border-radius: 8px;
    color: var(--colors-Primary-Accent);
    border: 1px solid var(--colors-Neutral-300);
    margin-bottom: 20px;
}
.mission_title
{
    font-weight: 700;
    font-size: 38px;
    line-height: 1.2;
    color: var(--colors-Neutral-800);
    width: 520px;
    margin-bottom: 21px;
}
.mission_text
{
    color: var(--colors-Neutral-600);
    width: 520px;
    margin-bottom: 25px;
}
.mission-moore
{
    display: flex;
    align-items: center;
    gap: 0 14px;
    margin-bottom: 40px;
}
.moore_img
{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    overflow: hidden;
}
.moore_title
{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: var(--colors-Neutral-800);
    width: 230px;
    margin-bottom: 3px;
}
.moore_text
{
    color: var(--colors-Neutral-600);
    width: 395px;
}
.mission_btn
{
    font-weight: 700;
    line-height: 1.1;
    padding: 24px 32px;
    border-radius: 12px;
    color: var(--colors-Neutral-100);
    background-color: var(--colors-Primary-Accent);
}
/* ==================================== Our Customers ======================= */
.wrapper-customers
{
    padding: 176px 85px;
}
.customers
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.customers_link
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    padding: 12px 14px;
    border-radius: 8px;
    color: var(--colors-Primary-Accent);
    border: 1px solid var(--colors-Neutral-300);
    margin-bottom: 20px;
}
.customers_title
{
    font-weight: 700;
    font-size: 38px;
    line-height: 1.2;
    width: 605px;
    text-align: center;
    margin-bottom: 15px;
    color: var(--colors-Neutral-800);
}
.customers_text
{
    width: 640px;
    text-align: center;
    margin-bottom: 32px;
    color: var(--colors-Neutral-600);
}
.customers-block
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 26px;
    margin-bottom: 47px;
}
.customers-sophie,
.customers-morgan,
.customers-carter
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sophie_img,
.morgan_img,
.carter_img
{
    width: 390px;
    height: 362px;
    border-radius: 32px;
    overflow: hidden;
    margin-bottom: 37px;
}
.sophie_title,
.morgan_title,
.carter_title
{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    width: 210px;
    margin-bottom: 11px;
    color: var(--colors-Neutral-800);
}
.sophie_text,
.morgan_text,
.carter_text
{
    width: 390px;
    text-align: center;
    color: var(--colors-Neutral-600);
}
.customers_btn
{
    display: block;
    margin: 0 auto;
    font-weight: 700;
    line-height: 1.1;
    padding: 24px 32px;
    border-radius: 12px;
    width: 251px;
    height: 68px;
    color: var(--colors-Neutral-100);
    background-color: var(--colors-Primary-Accent);
}
/* ======================================= Resources ================================= */
.section-resources
{
    margin-bottom: 200px;
}
.resources
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 38px;
}
.resources_link
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    padding: 12px 14px;
    border-radius: 8px;
    color: var(--colors-Primary-Accent);
    border: 1px solid var(--colors-Neutral-300);
    margin-bottom: 20px;
}
.resources_title
{
    font-weight: 700;
    font-size: 38px;
    line-height: 1.2;
    width: 605px;
    text-align: center;
    margin-bottom: 15px;
    color: var(--colors-Neutral-800);
}
.resources_text
{
    width: 640px;
    text-align: center;
    color: var(--colors-Neutral-600);
}
.resources-block
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 27px;
}
.resources-braces,
.resources-toothbrush,
.resources-great
{
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    border: 1px solid var(--colors-Neutral-300);
}
.braces_img,
.toothbrush_img,
.great_img
{
    width: 100%;
    border-radius: 32px 32px 0 0;
}
.braces-box,
.toothbrush-box,
.great-box
{
    padding: 40px 36px 35px 32px;
}
.braces_title,
.toothbrush_title,
.great_title
{
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    width: 321px;
    margin-bottom: 12px;
    color: var(--colors-Neutral-800);
}
.braces_text,
.toothbrush_text,
.great_text
{
    width: 320px;
    margin-bottom: 68px;
    color: var(--colors-Neutral-600);
    position: relative;
}
.braces_text::after,
.toothbrush_text::after,
.great_text::after
{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -35px;
    width: 326px;
    border: 1px solid var(--colors-Neutral-300);
}
.braces_span,
.toothbrush_span,
.great_span
{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.braces-span_text,
.toothbrush-span_text,
.great-span_text
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    color: var(--colors-Neutral-800);
}
.braces-span_link,
.toothbrush-span_link,
.great-span_link
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    color: var(--colors-Primary-Accent);
    border-bottom: 2px solid var(--colors-Primary-Accent);
}
/* ============================ Contact Us ============================ */


.wrapper-contactUs
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 80px;
    margin-bottom: 125px;
}
.contactUs-block
{
    margin-top: 220px;
}
.contactUs-link
{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    padding: 12px 14px;
    border-radius: 8px;
    color: var(--colors-Primary-Accent);
    border: 1px solid var(--colors-Neutral-300);
}
.contactUs-title
{
    font-weight: 700;
    font-size: 38px;
    line-height: 1.2;
    width: 494px;
    margin-top: 23px;
    margin-bottom: 16px;
    color: var(--colors-Neutral-800);
}
.contactUs-text
{
    width: 494px;
    margin-bottom: 40px;
    color: var(--colors-Neutral-600);
}
.contactUs-list
{
    display: flex;
    align-items: center;
    gap: 0 40px;
}
.contactUs_link
{
    display: flex;
    align-items: center;
    gap: 0 14px;
}
.contactUs-img
{
    width: 44px;
    height: 44px;
    border-radius: 14px;
    padding: 12px;
    background-color: var(--colors-Primary-Accent);
}
/* ============================= Form ========================= */


.form-contactUs
{
    width: 648px;
    height: 682px;
    border-radius: 32px;
    padding: 72px 48px;
    border: 1px solid var(--colors-Neutral-300);
}
.form-box_1,
.form-box_2
{
    display: flex;
    gap: 0 28px;
}
.form-item
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-label
{
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 16px;
    width: 128px;
    color: var(--colors-Neutral-700);
}
.form-input
{
    width: 262px;
    height: 60px;
    border-radius: 12px;
    margin-bottom: 32px;
    padding: 20px 18px;
    border: 1px solid var(--colors-Neutral-300);
}
.form-link
{
    display: flex;
    align-items: center;
    position: relative;
}
.form-img
{
    content: '';
    position: absolute;
    top: 20px;
    right: 15px;
}
.form_box
{
    display: flex;
    flex-direction: column;
}
.form-textarea
{
    width: 552px;
    height: 146px;
    border-radius: 12px;
    padding: 20px 18px;
    margin-bottom: 30px;
    resize: none;
    border: 1px solid var(--colors-Neutral-300);
}
.form-input::placeholder,
.form-textarea::placeholder
{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400; 
    font-size: 18px;
    line-height: 1.6;
    color: var(--colors-Neutral-600);
    background-color: var(--colors-Neutral-100);
}
.form-input:focus,
.form-textarea:focus
{
    outline: none;
    color: var(--colors-Primary-Accent);
    border: 2px solid var(--colors-Primary-Accent);
}
.form-input:focus::placeholder,
.form-textarea:focus::placeholder
{
    color: var(--colors-Primary-Accent);
}
.form-btn
{
    font-weight: 700;
    line-height: 1.1;
    padding: 24px 32px;
    border-radius: 12px;
    color: var(--colors-Neutral-100);
    background-color: var(--colors-Primary-Accent);
}