html 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,
*::after,
*::before 
{
    box-sizing: inherit;
}

a
{
    color: inherit;
    text-decoration: none;
}

button 
{
    padding: 0;
    border: none;
    background-color: transparent;
    /* text-transform: uppercase; */
    cursor: pointer;
}

ul,
ol
{
    list-style-type: none;
}

body 
{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400; 
    font-size: 18px;
    line-height: 1.6;
    color: var(--colors-Neutral-100);
}

@font-face {
    font-family: "Plus Jakarta Sans", sans-serif;
    src: url("../fonts/PlusJakartaSans-Regular.ttf") format("ttf");
    src: url("../fonts/PlusJakartaSans-Medium.ttf") format("ttf");
    src: url("../fonts/PlusJakartaSans-Bold.ttf") format("ttf");
}

:root 
{
    --colors-Primary-Accent: #5D4FFF;
    --colors-Secondary-100: #F2F1FE;
    --colors-Neutral-100: #FFFFFF;
    --colors-Neutral-200: #FAF9FC;
    --colors-Neutral-300: #EFEEF6;
    --colors-Neutral-400: #D9D8E5;
    --colors-Neutral-500: #9693B8;
    --colors-Neutral-600: #625D7E;
    --colors-Neutral-700: #1E1B42;
    --colors-Neutral-800: #181443;
    --cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container
{
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

/* =============================== Header ============================= */
.nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 25px 0;
}
.nav-link
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nav-logo
{
    width: 42px;
}
.nav-text
{
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: var(--colors-Neutral-800);
}
.header-list
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
}
.header-item
{
    font-size: 16px;
    color: var(--colors-Neutral-800);
}
.header_link
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.header-address_list
{
    font-size: 14px;
    line-height: 1.2;
    color: var(--colors-Neutral-800);
    border-radius: 12px;
    border: 1px solid var(--colors-Neutral-300);
    padding: 18px 24px;
    width: 185px;
    height: 55px;
}
.header-address_link
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.header-address_link img 
{
    width: 19px;
}
.header-btn
{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 12px;
    padding: 20px 24px;
    color: var(--colors-Neutral-100);
    background-color: var(--colors-Primary-Accent)
}